@font-face {
  font-family: "jty";
  src: url("jty.OTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NZBZ";
  src: url("NZBZ.TTF");
  font-weight: normal;
  font-style: normal;
}
.bj{
	
}
body{
	background-image:url(bg3.jpg);
	
}
img{
	
	border-radius:20px;
	width: 50%;
	height: 50%;
	box-shadow:10px 10px 3px rgb(0 0 0 / 50%);

	
}
.nei{
	font-size:20px;
	font-family:"jty";
	padding-bottom:10px;
	padding-top:10px;
	text-indent:2em;
	border-bottom:1px solid #ccc;
	
}


.tu{
	padding-top:60px;
	text-align:center;
	display:block
	
}
.zhu{
	width:1000px;
	height:1000px;
	display:inline;
	
}
body {
  
  width: 100%;
  height: 130%;

 

   
    background-size: 100% ;
}

.bt{
	font-family:"NZBZ";
	padding-top:20px;
	text-align: center;
	font-size:70px;
	
	padding-bottom:20px;
background-color:rgb(0 0 0 / 0%);	
color:#000;
border-bottom:2px solid #ccc
	
}
.nr{
	border-radius:5px;
	
	font-family:"NZBZ";
	font-size:35px;
	font-weight:510;
	padding-left:10px;
	padding-bottom:40px;
	
	padding-right:10px;
	margin-left:40px;
	margin-right:40px;
	color:#000;
	text-align:center;
	border-bottom:2px solid #ccc
	
	
}
.nr2{
	position: absolute;
	border-radius:130px;
	left:50px;
	margin-top:20px;
	font-family:"NZBZ";
	font-size:70px;
	text-align:center;
	padding-left:30px;
	padding-right:30px;
	background-color:#000;
	color:#fff;
	box-shadow:3px 2px 3px #ccc
}
.jw{
	font-size:20px;
	text-align:center;
	font-family:"NZBZ";
}

.bg{
	font-family:"NZBZ";
	font-size:24px;
	margin:auto;
	padding-left:30px;
	padding-right:30px;
	
	
}

.bgl{
	padding-left:20px;
	padding-right:20px;
}