<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{dz}}\plugins\earth-k-plugin\resources\html\GenshinSpeak\index.css" />
</head>
<body> 
<div class="bt" >{{name}}</div>
<p class="nr" >以下为{{name}}语音列表，你可以发送</p><p class="nr">#{{name}}语音+数字来听</p>
<div class="zhu">
	
	<div >
	<table class="bg" border="0" width =650px >
	

	{{each nr2 na i}}
	
	{{if i%2 ==0}}
	<td >{{i/2+1}}-</td>
	<td >{{na}}</td>
	{{/if}}
	
	{{if i%4 == 0}}
	<tr>
	{{/if}}
	{{/each}}
	
</table>
	
</div>


<p class="jw" >Created By Yunzai-Bot & Earth-K-Plugin</p>

</body>
</html>
