<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{dz}}\plugins\earth-k-plugin\resources\html\Novel\djs.css" />
</head>
<body> 


	<div class="bt" >
	
	{{js.title}}
	
	
	</div>
	<p class="nr" >你可以发送#选小说+数字来选择篇章，例如#选小说1</p>
	<div class="tu">
	<img src= "{{js.cover}}"/>
	</div>
	<div class="bg">
	<table border="0" >
	

	{{each js.chapterList j i}}
	
	{{if i%2 !=0}}
	<td >{{i+1}}-</td>
	<td >{{js.chapterList[i].title}}</td>
	{{/if}}
	
	{{if i%2 ==0}}
	<td >{{i+1}}-</td>
	<td >{{js.chapterList[i].title}}</td></tr>
	
	{{/if}}
	
	
	
	
	
	

	{{/each}}
	
</table>
</div>
	
	<p class="nr" >你可以发送#选小说+数字来选择集数，例如#选小说1</p>

<p class="jw" >Created By Yunzai-Bot & Earth-K-Plugin</p>


</body>
</html>
