@font-face {
  font-family: "jty";
  src: url("jty.OTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NZBZ";
  src: url("NZBZ.TTF");
  font-weight: normal;
  font-style: normal;
}



body {
  
  width: 100%;
  height: 130%;
 
  

  
    background-size: 100% ;
}
.bt{
	font-family:"jty";
	padding-top:20px;
	text-align: center;
	font-size:50px;
	font-weight:bold;
	padding-bottom:20px;
background-color:rgb(0 0 0 / 0%);	
color:#fff;
	text-shadow:3px 3px 3px #00f;
}
.lb{
	border-radius:5px;
	font-family:"jty";
	font-size:22px;
	font-weight:510;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:10px;
	padding-right:10px;
	margin-left:40px;
	margin-right:40px;
	color:#fff;
	background-color:rgb(0 0 0 / 30%);
	text-shadow:3px 3px 3px #00f;
	
	display:block;
}


.lb2{
	border-radius:5px;
	font-family:"jty";
	font-size:22px;
	font-weight:510;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:10px;
	padding-right:10px;
	margin-left:40px;
	margin-right:40px;
	color:#fff;
	background-color:rgb(0 0 0 / 20%);
	text-shadow:3px 3px 3px #00f;
	
	display:block;
}
table{
     border: none;/*去除默认边框*/
        border-collapse: collapse;/*合并单元格边框*/
       
        margin-left:40px;
		font-family:"jty";
	    box-shadow:3px 3px 3px rgb(0 0 0 / 50%);;
	
    }
    th,td{
      
        border: none;/*去除默认边框*/
       
		font-family:"jty";
	font-size:22px;
	color:#fff;
	background-color:rgb(0 0 0 / 20%);
	text-shadow:3px 3px 3px #00f;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:10px;
	padding-right:20px;
	margin-left:40px;
	
    }
    thead th{
       
        color: white;
    }
	 tr td:first-child{
        background-color: rgb(0 0 0 / 10%);
        color: white;
		text-align:center
    }
	tr td:nth-child(2){
        background-color: rgb(0 0 0 / 20%);
        color: white;
		width:460px
		
    }
	tr td:nth-child(3){
        background-color: rgb(0 0 0 / 30%);
        color: white;
		width:120px
    }
    tbody tr:nth-child(2n){
        background-color: rgb(0 0 0 / 30%);
        cursor: pointer;
    }
	tbody tr:nth-child(1){
        text-align:center
    }
    tbody tr:nth-child(2n-1){
        background-color: rgb(0 0 0 / 15%);
        cursor: pointer;/*鼠标放上去后变成小手*/
    }



.jw{
	font-family:"jty";
	padding-top:20px;
	text-align: center;
	font-size:20px;

	color:#fff;
	text-shadow:3px 3px 3px #00f;
	
}
